/* Coolors Exported Palette - coolors.co/def7ea-ed365e-ffcf32-e9fce3-1d2618 */

$color1: #def7ea; //rgba(222, 247, 234, 100) // Background
$color2: #ed365e; //rgba(237, 54, 94, 100)
$color3: #ffcf32; //rgba(255, 207, 50, 100)
$color4: #e9fce3; //rgba(233, 252, 227, 100)
$color5: #1d2618; //rgba(29, 38, 24, 100) // Font
